flows.json
[
    {
        "id": "2d794f9e07d29405",
        "type": "tab",
        "label": "Node-RED IoT Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d3454d6a5e177906",
        "type": "group",
        "z": "2d794f9e07d29405",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2073b8ecaa09ddb2",
            "12743f6aaa61d56b",
            "619235101e9bd1d5",
            "57a580ca980d413f",
            "1ee2ea63ef786dbd",
            "0abc7489901a61f7",
            "48f0010490906bbc",
            "3756db758fd848c8",
            "b9df6bdc8801748a",
            "96884160ee0812b2",
            "29fce23a06f846de",
            "c8303e23e7eda9a9",
            "d5986b805429e7aa",
            "e008bd007dc00572",
            "e628381febfda6b4",
            "31fed6ed466248f7",
            "457403229d6397db"
        ],
        "x": 54,
        "y": 659,
        "w": 1432,
        "h": 342
    },
    {
        "id": "354f4edb1dfa6b51",
        "type": "group",
        "z": "2d794f9e07d29405",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1630cb1ef4140b87",
            "e2e4b45e93addfe8",
            "0ad96791724877dd",
            "c4d1afa920cdd57a",
            "f4f4e8a30baafe40",
            "8bcdcc8a724f198b",
            "52dc4b742b95a87c",
            "382b69f88801cce0",
            "220c302781ae888b",
            "1749c5eaa96980d6",
            "f878ede920d4bfa8",
            "5179d438bc921761",
            "d30da50926e20c63",
            "f1327488981ea23a",
            "ed2e5c9c8f931496",
            "9fe30b3990304ae3",
            "4bb11729e67d2d85",
            "7dec5d15b667b816",
            "fcfdaa9c5f801488",
            "eb48da40bceb7a08",
            "9e1acf4431c8db71",
            "5f16860eb5eab57c",
            "50f6ec43bbda52e8",
            "4c09b0d1e399ca11",
            "35ee07ab673dfb48",
            "72b1c1f3849ec929",
            "78aa0dfc7ab29c79",
            "ac57fb5b8c996862",
            "49ef33ec169b9263",
            "f9e5dee88cdc9d0f",
            "c02a1a944d7ee22a",
            "71fa0143447432c9",
            "bd5d330af11fe9c1",
            "9668672555b3d967"
        ],
        "x": 14,
        "y": 59,
        "w": 1672,
        "h": 562
    },
    {
        "id": "abd675eeae3c7651",
        "type": "group",
        "z": "2d794f9e07d29405",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "da606248f0eb9398",
            "63969757996e178e",
            "440df9bcf9402798"
        ],
        "x": 234,
        "y": 1059,
        "w": 732,
        "h": 102
    },
    {
        "id": "1630cb1ef4140b87",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "topic": "Home/Room1/Light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 830,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2e4b45e93addfe8",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "topic": "Home/Room2/Light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 810,
        "y": 440,
        "wires": []
    },
    {
        "id": "0ad96791724877dd",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "topic": "Home/Room1/Fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "c4d1afa920cdd57a",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "topic": "Home/Room2/Fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "f4f4e8a30baafe40",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar lightStatusRoom1;\n\nif(command.indexOf(\"lights\") != -1 || command.indexOf(\"light\") != -1){\nif(command.indexOf(\"one\") != -1 || command.indexOf(\"1\") != -1 || command.indexOf(\"all\") != -1){\nif (command.indexOf(\"on\") != -1) {\n    lightStatusRoom1 = \"on\";\n}else if(command.indexOf(\"off\") != -1){\n    lightStatusRoom1 = \"off\";\n}\nelse if(command.indexOf(\"50%\") != -1){\n    lightStatusRoom1 = \"fifty\";\n}else if(command.indexOf(\"25%\") != -1){\n    lightStatusRoom1 = \"twentyfive\";\n}else if(command.indexOf(\"75%\") != -1){\n    lightStatusRoom1 = \"seventyfive\";\n}\n}\n}else {\n    return null;\n}\n\nmsg.topic = \"Home/Room1/Light\";\nmsg.payload = lightStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 180,
        "wires": [
            [
                "1630cb1ef4140b87"
            ]
        ]
    },
    {
        "id": "8bcdcc8a724f198b",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar fanStatusRoom1;\n\nif(command.indexOf(\"fan\") != -1){\nif(command.indexOf(\"one\") != -1 || command.indexOf(\"1\") != -1 || command.indexOf(\"all\") != -1){\nif (command.indexOf(\"on\") != -1) {\n    fanStatusRoom1 = \"on\";\n}else if(command.indexOf(\"off\") != -1){\n    fanStatusRoom1 = \"off\";\n} else if (command.indexOf(\"50%\") != -1) {\n    fanStatusRoom1 = \"fifty\";\n} else if (command.indexOf(\"25%\") != -1) {\n    fanStatusRoom1 = \"twentyfive\";\n} else if (command.indexOf(\"75%\") != -1) {\n    fanStatusRoom1 = \"seventyfive\";\n}else if (command.indexOf(\"100%\") != -1) {\n    fanStatusRoom1 = \"fifty\";\n}\n}\n}else {\n    return null;\n}\n\nmsg.topic = \"Home/Room1/Fan\";\nmsg.payload = fanStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 240,
        "wires": [
            [
                "0ad96791724877dd"
            ]
        ]
    },
    {
        "id": "52dc4b742b95a87c",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar lightStatusRoom2;\n\nif(command.indexOf(\"lights\") != -1 || command.indexOf(\"light\") != -1){\nif(command.indexOf(\"two\") != -1 || command.indexOf(\"2\") != -1 || command.indexOf(\"all\") != -1){\nif (command.indexOf(\"on\") != -1) {\n    lightStatusRoom2 = \"on\";\n}else if(command.indexOf(\"off\") != -1){\n    lightStatusRoom2 = \"off\";\n} else if (command.indexOf(\"50%\") != -1) {\n    lightStatusRoom2 = \"fifty\";\n} else if (command.indexOf(\"25%\") != -1) {\n    lightStatusRoom2 = \"twentyfive\";\n} else if (command.indexOf(\"75%\") != -1) {\n    lightStatusRoom2 = \"seventyfive\";\n}\n}\n}else {\n    return null;\n}\n\nmsg.topic = \"Home/Room2/Light\";\nmsg.payload = lightStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "e2e4b45e93addfe8"
            ]
        ]
    },
    {
        "id": "382b69f88801cce0",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar fanstatusRoom2;\n\nif(command.indexOf(\"fan\") != -1 ){\nif(command.indexOf(\"two\") != -1 || command.indexOf(\"2\") != -1 || command.indexOf(\"all\") != -1\n){\nif (command.indexOf(\"on\") != -1) {\n    fanstatusRoom2 = \"on\";\n}else if(command.indexOf(\"off\") != -1){\n    fanstatusRoom2 = \"off\";\n}else if (command.indexOf(\"50%\") != -1) {\n    fanstatusRoom2 = \"fifty\";\n} else if (command.indexOf(\"25%\") != -1) {\n    fanstatusRoom2 = \"twentyfive\";\n} else if (command.indexOf(\"75%\") != -1) {\n    fanstatusRoom2 = \"seventyfive\";\n}else if (command.indexOf(\"100%\") != -1) {\n    fanstatusRoom2 = \"fifty\";\n}\n}\n}else {\n    return null;\n}\n\nmsg.topic = \"Home/Room2/Fan\";\nmsg.payload = fanstatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "c4d1afa920cdd57a"
            ]
        ]
    },
    {
        "id": "220c302781ae888b",
        "type": "mqtt in",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Input Voice",
        "topic": "input/voice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6670896eb4c043f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 340,
        "wires": [
            [
                "f4f4e8a30baafe40",
                "8bcdcc8a724f198b",
                "52dc4b742b95a87c",
                "382b69f88801cce0",
                "5f16860eb5eab57c"
            ]
        ]
    },
    {
        "id": "1749c5eaa96980d6",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process brightnes slider",
        "func": "var brightnesslider = msg.payload;\nvar lightStatusRoom1;\n\nif (brightnesslider === 0) {\n    lightStatusRoom1 = \"off\";\n\n} else if (brightnesslider === 25) {\n    lightStatusRoom1 = \"twentyfive\";\n\n} else if (brightnesslider === 50) {\n    lightStatusRoom1 = \"fifty\";  \n\n} else if (brightnesslider === 75) {\n    lightStatusRoom1 = \"seventyfive\";\n\n} else if (brightnesslider === 100) {\n    lightStatusRoom1 = \"on\";\n}\n\nmsg.topic = \"Home/Room1/Light\";\nmsg.payload = lightStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 180,
        "wires": [
            [
                "1630cb1ef4140b87",
                "ed2e5c9c8f931496"
            ]
        ]
    },
    {
        "id": "f878ede920d4bfa8",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Fan slider",
        "func": "var fanslider = msg.payload;\nvar fanStatusRoom1;\n\nif (fanslider === 0) {\n    fanStatusRoom1 = \"off\";\n\n} else if (fanslider === 25) {\n    fanStatusRoom1 = \"twentyfive\";\n\n} else if (fanslider === 50) {\n    fanStatusRoom1 = \"fifty\";  \n\n} else if (fanslider === 75) {\n    fanStatusRoom1 = \"seventyfive\";\n\n} else if (fanslider === 100) {\n    fanStatusRoom1 = \"on\";\n}\n\nmsg.topic = \"Home/Room1/Fan\";\nmsg.payload = fanStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 240,
        "wires": [
            [
                "0ad96791724877dd",
                "9fe30b3990304ae3"
            ]
        ]
    },
    {
        "id": "5179d438bc921761",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process brightnes slider",
        "func": "var brightnesslider = msg.payload;\nvar lightStatusRoom2;\n\nif (brightnesslider === 0) {\n    lightStatusRoom2 = \"off\";\n\n} else if (brightnesslider === 25) {\n    lightStatusRoom2 = \"twentyfive\";\n\n} else if (brightnesslider === 50) {\n    lightStatusRoom2 = \"fifty\";  \n\n} else if (brightnesslider === 75) {\n    lightStatusRoom2 = \"seventyfive\";\n\n} else if (brightnesslider === 100) {\n    lightStatusRoom2 = \"on\";\n}\n\nmsg.topic = \"Home/Room2/Light\";\nmsg.payload = lightStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 440,
        "wires": [
            [
                "e2e4b45e93addfe8",
                "fcfdaa9c5f801488"
            ]
        ]
    },
    {
        "id": "d30da50926e20c63",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "Process Fan slider",
        "func": "var fanslider = msg.payload;\nvar fanStatusRoom2;\n\nif (fanslider === 0) {\n    fanStatusRoom2 = \"off\";\n\n} else if (fanslider === 25) {\n    fanStatusRoom2 = \"twentyfive\";\n\n} else if (fanslider === 50) {\n    fanStatusRoom2 = \"fifty\";  \n\n} else if (fanslider === 75) {\n    fanStatusRoom2 = \"seventyfive\";\n\n} else if (fanslider === 100) {\n    fanStatusRoom2 = \"on\";\n}\n\nmsg.topic = \"Home/Room2/Fan\";\nmsg.payload = fanStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1270,
        "y": 520,
        "wires": [
            [
                "c4d1afa920cdd57a",
                "9e1acf4431c8db71"
            ]
        ]
    },
    {
        "id": "f1327488981ea23a",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 100,
        "wires": []
    },
    {
        "id": "ed2e5c9c8f931496",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "9fe30b3990304ae3",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 300,
        "wires": []
    },
    {
        "id": "4bb11729e67d2d85",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 300,
        "wires": []
    },
    {
        "id": "7dec5d15b667b816",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 380,
        "wires": []
    },
    {
        "id": "fcfdaa9c5f801488",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb48da40bceb7a08",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "9e1acf4431c8db71",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 580,
        "wires": []
    },
    {
        "id": "5f16860eb5eab57c",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "50f6ec43bbda52e8",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "b71a92b6420df409",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room2/Light",
        "topicType": "msg",
        "style": "",
        "onvalue": "turnning on room 2 light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turnning off room 2 light",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets / .ui-switch {   width: 50px; / Adjust the width as needed /   height: 30px; / Adjust the height as needed /   background-color: #ccc; / Background color when the switch is off /   border: 1px solid #999;   border-radius: 15px; / To make it look like a circular button /   position: relative;   display: inline-block; / To align switches horizontally / }  / Style for the switch when it's in the 'on' state / .ui-switch.ui-switch-checked {   background-color: #00FF00; / Background color when the switch is on / }  / Style for the slider button inside the switch / .ui-switch .slider {   width: 25px; / Width of the sliding button /   height: 25px; / Height of the sliding button /   background-color: #fff; / Color of the sliding button /   border: 1px solid #999;   border-radius: 50%; / To make it look like a circular button /   position: absolute;   top: 2px; / Adjust the top position as needed */   transition: 0.4s; }",
        "x": 230,
        "y": 440,
        "wires": [
            [
                "52dc4b742b95a87c"
            ]
        ]
    },
    {
        "id": "4c09b0d1e399ca11",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0a9f878f0b06b3f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "style": "",
        "onvalue": "turnning on room 1 light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turnning off room 1 light",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets / .ui-switch {   width: 50px; / Adjust the width as needed /   height: 30px; / Adjust the height as needed /   background-color: #ccc; / Background color when the switch is off /   border: 1px solid #999;   border-radius: 15px; / To make it look like a circular button /   position: relative;   display: inline-block; / To align switches horizontally / }  / Style for the switch when it's in the 'on' state / .ui-switch.ui-switch-checked {   background-color: #00FF00; / Background color when the switch is on / }  / Style for the slider button inside the switch / .ui-switch .slider {   width: 25px; / Width of the sliding button /   height: 25px; / Height of the sliding button /   background-color: #fff; / Color of the sliding button /   border: 1px solid #999;   border-radius: 50%; / To make it look like a circular button /   position: absolute;   top: 2px; / Adjust the top position as needed */   transition: 0.4s; }",
        "x": 230,
        "y": 180,
        "wires": [
            [
                "f4f4e8a30baafe40"
            ]
        ]
    },
    {
        "id": "35ee07ab673dfb48",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9853f7386e65dc3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "turnning on room 1 fan",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turnning off room 1 fan",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets / .ui-switch {   width: 50px; / Adjust the width as needed /   height: 30px; / Adjust the height as needed /   background-color: #ccc; / Background color when the switch is off /   border: 1px solid #999;   border-radius: 15px; / To make it look like a circular button /   position: relative;   display: inline-block; / To align switches horizontally / }  / Style for the switch when it's in the 'on' state / .ui-switch.ui-switch-checked {   background-color: #00FF00; / Background color when the switch is on / }  / Style for the slider button inside the switch / .ui-switch .slider {   width: 25px; / Width of the sliding button /   height: 25px; / Height of the sliding button /   background-color: #fff; / Color of the sliding button /   border: 1px solid #999;   border-radius: 50%; / To make it look like a circular button /   position: absolute;   top: 2px; / Adjust the top position as needed */   transition: 0.4s; }",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "8bcdcc8a724f198b"
            ]
        ]
    },
    {
        "id": "72b1c1f3849ec929",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "69d923bbeb4b9ab0",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room2/Fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "turnning on room 2 fan",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turnning off room 2 fan",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets / .ui-switch {   width: 50px; / Adjust the width as needed /   height: 30px; / Adjust the height as needed /   background-color: #ccc; / Background color when the switch is off /   border: 1px solid #999;   border-radius: 15px; / To make it look like a circular button /   position: relative;   display: inline-block; / To align switches horizontally / }  / Style for the switch when it's in the 'on' state / .ui-switch.ui-switch-checked {   background-color: #00FF00; / Background color when the switch is on / }  / Style for the slider button inside the switch / .ui-switch .slider {   width: 25px; / Width of the sliding button /   height: 25px; / Height of the sliding button /   background-color: #fff; / Color of the sliding button /   border: 1px solid #999;   border-radius: 50%; / To make it look like a circular button /   position: absolute;   top: 2px; / Adjust the top position as needed */   transition: 0.4s; }",
        "x": 230,
        "y": 520,
        "wires": [
            [
                "382b69f88801cce0"
            ]
        ]
    },
    {
        "id": "78aa0dfc7ab29c79",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d16f07700327458d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1030,
        "y": 180,
        "wires": [
            [
                "1749c5eaa96980d6",
                "f1327488981ea23a",
                "c02a1a944d7ee22a"
            ]
        ]
    },
    {
        "id": "ac57fb5b8c996862",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "9278453a351a90e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1030,
        "y": 240,
        "wires": [
            [
                "f878ede920d4bfa8",
                "4bb11729e67d2d85",
                "71fa0143447432c9"
            ]
        ]
    },
    {
        "id": "49ef33ec169b9263",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "636577a91dc0d28e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1030,
        "y": 440,
        "wires": [
            [
                "5179d438bc921761",
                "7dec5d15b667b816",
                "bd5d330af11fe9c1"
            ]
        ]
    },
    {
        "id": "f9e5dee88cdc9d0f",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "20bd4304996f28c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1030,
        "y": 520,
        "wires": [
            [
                "d30da50926e20c63",
                "eb48da40bceb7a08",
                "9668672555b3d967"
            ]
        ]
    },
    {
        "id": "c02a1a944d7ee22a",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "group": "d16f07700327458d",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Brightness Percentage",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1540,
        "y": 180,
        "wires": []
    },
    {
        "id": "71fa0143447432c9",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "group": "9278453a351a90e2",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed Percentage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 240,
        "wires": []
    },
    {
        "id": "bd5d330af11fe9c1",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "group": "636577a91dc0d28e",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Brightness Percentage",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1560,
        "y": 440,
        "wires": []
    },
    {
        "id": "9668672555b3d967",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "g": "354f4edb1dfa6b51",
        "group": "20bd4304996f28c9",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed Percentage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1530,
        "y": 520,
        "wires": []
    },
    {
        "id": "12743f6aaa61d56b",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Temperature",
        "group": "539c291ba1ff720f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1370,
        "y": 940,
        "wires": []
    },
    {
        "id": "619235101e9bd1d5",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Humidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 740,
        "wires": [
            [
                "1ee2ea63ef786dbd",
                "2073b8ecaa09ddb2",
                "31fed6ed466248f7"
            ]
        ]
    },
    {
        "id": "57a580ca980d413f",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Temperature",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 920,
        "wires": [
            [
                "12743f6aaa61d56b",
                "e628381febfda6b4",
                "aede79e9efb84a65"
            ]
        ]
    },
    {
        "id": "1ee2ea63ef786dbd",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "",
        "group": "a0fc3a94.d321a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "2073b8ecaa09ddb2",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Humidity",
        "group": "a0fc3a94.d321a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1380,
        "y": 740,
        "wires": []
    },
    {
        "id": "0abc7489901a61f7",
        "type": "inject",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 820,
        "wires": [
            [
                "457403229d6397db"
            ]
        ]
    },
    {
        "id": "48f0010490906bbc",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Temperature",
        "group": "4ef5c1d824ad9e1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 890,
        "y": 940,
        "wires": []
    },
    {
        "id": "3756db758fd848c8",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Humidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 760,
        "wires": [
            [
                "96884160ee0812b2",
                "c8303e23e7eda9a9",
                "d5986b805429e7aa"
            ]
        ]
    },
    {
        "id": "b9df6bdc8801748a",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Temperature",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 920,
        "wires": [
            [
                "48f0010490906bbc",
                "29fce23a06f846de",
                "e008bd007dc00572"
            ]
        ]
    },
    {
        "id": "96884160ee0812b2",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "",
        "group": "5b1a99a983cd31dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 900,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "29fce23a06f846de",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "",
        "group": "4ef5c1d824ad9e1f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 910,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "c8303e23e7eda9a9",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "Humidity",
        "group": "5b1a99a983cd31dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 900,
        "y": 760,
        "wires": []
    },
    {
        "id": "d5986b805429e7aa",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 700,
        "wires": []
    },
    {
        "id": "e008bd007dc00572",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 960,
        "wires": []
    },
    {
        "id": "e628381febfda6b4",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 960,
        "wires": []
    },
    {
        "id": "31fed6ed466248f7",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 700,
        "wires": []
    },
    {
        "id": "da606248f0eb9398",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "g": "abd675eeae3c7651",
        "name": "",
        "topic": "Home/Door",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 870,
        "y": 1100,
        "wires": []
    },
    {
        "id": "63969757996e178e",
        "type": "function",
        "z": "2d794f9e07d29405",
        "g": "abd675eeae3c7651",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar doorstatus;\n\nif(command.indexOf(\"door\") != -1){\n\nif (command.indexOf(\"Opening\") != -1 || command.indexOf(\"opening\") != -1) {\n    doorstatus = \"open\";\n}else if(command.indexOf(\"Closing\") != -1 || command.indexOf(\"closing\") != -1){\n    doorstatus = \"close\";\n}\n}else {\n    return null;\n}\n\nmsg.topic = \"Home/Door\";\nmsg.payload = doorstatus;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 1120,
        "wires": [
            [
                "da606248f0eb9398"
            ]
        ]
    },
    {
        "id": "440df9bcf9402798",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "g": "abd675eeae3c7651",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "a5375546ad1c8a09",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room2/Fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "opening the door",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "closing the door",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets / .ui-switch {   width: 50px; / Adjust the width as needed /   height: 30px; / Adjust the height as needed /   background-color: #ccc; / Background color when the switch is off /   border: 1px solid #999;   border-radius: 15px; / To make it look like a circular button /   position: relative;   display: inline-block; / To align switches horizontally / }  / Style for the switch when it's in the 'on' state / .ui-switch.ui-switch-checked {   background-color: #00FF00; / Background color when the switch is on / }  / Style for the slider button inside the switch / .ui-switch .slider {   width: 25px; / Width of the sliding button /   height: 25px; / Height of the sliding button /   background-color: #fff; / Color of the sliding button /   border: 1px solid #999;   border-radius: 50%; / To make it look like a circular button /   position: absolute;   top: 2px; / Adjust the top position as needed */   transition: 0.4s; }",
        "x": 310,
        "y": 1100,
        "wires": [
            [
                "63969757996e178e"
            ]
        ]
    },
    {
        "id": "0f32f8e82a5c316c",
        "type": "ui_microphone",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "15082dba2a20ce4a",
        "order": 0,
        "width": 0,
        "height": 0,
        "maxLength": 5,
        "maxRecogLength": 5,
        "timeslice": 0,
        "press": "click",
        "mode": "recog",
        "interimResults": false,
        "x": 390,
        "y": 1260,
        "wires": [
            [
                "97996c3fa49280cf",
                "e25dbfbca5335510"
            ]
        ]
    },
    {
        "id": "97996c3fa49280cf",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 1260,
        "wires": []
    },
    {
        "id": "e25dbfbca5335510",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "Luna/Input",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 770,
        "y": 1200,
        "wires": []
    },
    {
        "id": "a71162657e51b049",
        "type": "mqtt in",
        "z": "2d794f9e07d29405",
        "name": "Input Voice",
        "topic": "input/voice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6670896eb4c043f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 1140,
        "wires": [
            [
                "63969757996e178e"
            ]
        ]
    },
    {
        "id": "457403229d6397db",
        "type": "rpi-dht22",
        "z": "2d794f9e07d29405",
        "g": "d3454d6a5e177906",
        "name": "",
        "topic": "SENSOR DHT22",
        "dht": 22,
        "pintype": "0",
        "pin": "4",
        "x": 430,
        "y": 820,
        "wires": [
            [
                "3756db758fd848c8",
                "b9df6bdc8801748a"
            ]
        ]
    },
    {
        "id": "70ae2892d7a65ed7",
        "type": "inject",
        "z": "2d794f9e07d29405",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 850,
        "y": 820,
        "wires": [
            [
                "91427380c53b6929"
            ]
        ]
    },
    {
        "id": "91427380c53b6929",
        "type": "rpi-dht22",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "SENSOR DHT22",
        "dht": 22,
        "pintype": "0",
        "pin": "4",
        "x": 1100,
        "y": 820,
        "wires": [
            [
                "619235101e9bd1d5",
                "57a580ca980d413f"
            ]
        ]
    },
    {
        "id": "aede79e9efb84a65",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "539c291ba1ff720f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1370,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "d6670896eb4c043f",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "300",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b71a92b6420df409",
        "type": "ui_group",
        "name": "Light",
        "tab": "deec8db058b2a57b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a9f878f0b06b3f6",
        "type": "ui_group",
        "name": "Light",
        "tab": "37b5f90d.5e1ef2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9853f7386e65dc3b",
        "type": "ui_group",
        "name": "Fan",
        "tab": "37b5f90d.5e1ef2",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69d923bbeb4b9ab0",
        "type": "ui_group",
        "name": "Fan",
        "tab": "deec8db058b2a57b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d16f07700327458d",
        "type": "ui_group",
        "name": "Light Slider",
        "tab": "37b5f90d.5e1ef2",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9278453a351a90e2",
        "type": "ui_group",
        "name": "Fan Slider",
        "tab": "37b5f90d.5e1ef2",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "636577a91dc0d28e",
        "type": "ui_group",
        "name": "Light Slider",
        "tab": "deec8db058b2a57b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20bd4304996f28c9",
        "type": "ui_group",
        "name": "Fan Slider",
        "tab": "deec8db058b2a57b",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "539c291ba1ff720f",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "37b5f90d.5e1ef2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0fc3a94.d321a8",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "37b5f90d.5e1ef2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4ef5c1d824ad9e1f",
        "type": "ui_group",
        "name": "Temperture",
        "tab": "deec8db058b2a57b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5b1a99a983cd31dc",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "deec8db058b2a57b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a5375546ad1c8a09",
        "type": "ui_group",
        "name": "Door",
        "tab": "e825d7d350b34b97",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "15082dba2a20ce4a",
        "type": "ui_group",
        "name": "Default",
        "tab": "e825d7d350b34b97",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "deec8db058b2a57b",
        "type": "ui_tab",
        "name": "Room 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37b5f90d.5e1ef2",
        "type": "ui_tab",
        "name": "Room 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e825d7d350b34b97",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]