Process Voice Commands.json
[
    {
        "id": "2d794f9e07d29405",
        "type": "tab",
        "label": "Node-RED IoT Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1630cb1ef4140b87",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "Home/Room1/Light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "e2e4b45e93addfe8",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "Home/Room2/Light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 790,
        "y": 360,
        "wires": []
    },
    {
        "id": "50f6ec43bbda52e8",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "b71a92b6420df409",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room2/Light",
        "topicType": "msg",
        "style": "",
        "onvalue": "turn on room two light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turn off room two light",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets */ .ui-switch {   width: 50px; /* Adjust the width as needed */   height: 30px; /* Adjust the height as needed */   background-color: #ccc; /* Background color when the switch is off */   border: 1px solid #999;   border-radius: 15px; /* To make it look like a circular button */   position: relative;   display: inline-block; /* To align switches horizontally */ }  /* Style for the switch when it's in the 'on' state */ .ui-switch.ui-switch-checked {   background-color: #00FF00; /* Background color when the switch is on */ }  /* Style for the slider button inside the switch */ .ui-switch .slider {   width: 25px; /* Width of the sliding button */   height: 25px; /* Height of the sliding button */   background-color: #fff; /* Color of the sliding button */   border: 1px solid #999;   border-radius: 50%; /* To make it look like a circular button */   position: absolute;   top: 2px; /* Adjust the top position as needed */   transition: 0.4s; }",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "52dc4b742b95a87c"
            ]
        ]
    },
    {
        "id": "4c09b0d1e399ca11",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "0a9f878f0b06b3f6",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "style": "",
        "onvalue": "turn on room one light",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turn off room one light",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets */ .ui-switch {   width: 50px; /* Adjust the width as needed */   height: 30px; /* Adjust the height as needed */   background-color: #ccc; /* Background color when the switch is off */   border: 1px solid #999;   border-radius: 15px; /* To make it look like a circular button */   position: relative;   display: inline-block; /* To align switches horizontally */ }  /* Style for the switch when it's in the 'on' state */ .ui-switch.ui-switch-checked {   background-color: #00FF00; /* Background color when the switch is on */ }  /* Style for the slider button inside the switch */ .ui-switch .slider {   width: 25px; /* Width of the sliding button */   height: 25px; /* Height of the sliding button */   background-color: #fff; /* Color of the sliding button */   border: 1px solid #999;   border-radius: 50%; /* To make it look like a circular button */   position: absolute;   top: 2px; /* Adjust the top position as needed */   transition: 0.4s; }",
        "x": 210,
        "y": 100,
        "wires": [
            [
                "f4f4e8a30baafe40"
            ]
        ]
    },
    {
        "id": "35ee07ab673dfb48",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9853f7386e65dc3b",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "turn on room one fan",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turn off room one fan",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets */ .ui-switch {   width: 50px; /* Adjust the width as needed */   height: 30px; /* Adjust the height as needed */   background-color: #ccc; /* Background color when the switch is off */   border: 1px solid #999;   border-radius: 15px; /* To make it look like a circular button */   position: relative;   display: inline-block; /* To align switches horizontally */ }  /* Style for the switch when it's in the 'on' state */ .ui-switch.ui-switch-checked {   background-color: #00FF00; /* Background color when the switch is on */ }  /* Style for the slider button inside the switch */ .ui-switch .slider {   width: 25px; /* Width of the sliding button */   height: 25px; /* Height of the sliding button */   background-color: #fff; /* Color of the sliding button */   border: 1px solid #999;   border-radius: 50%; /* To make it look like a circular button */   position: absolute;   top: 2px; /* Adjust the top position as needed */   transition: 0.4s; }",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "8bcdcc8a724f198b"
            ]
        ]
    },
    {
        "id": "72b1c1f3849ec929",
        "type": "ui_switch",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "69d923bbeb4b9ab0",
        "order": 0,
        "width": "0",
        "height": "0",
        "passthru": true,
        "decouple": "false",
        "topic": "Home/Room2/Fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "turn on room two fan",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "turn off room two fan",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "/* Style for all switch widgets */ .ui-switch {   width: 50px; /* Adjust the width as needed */   height: 30px; /* Adjust the height as needed */   background-color: #ccc; /* Background color when the switch is off */   border: 1px solid #999;   border-radius: 15px; /* To make it look like a circular button */   position: relative;   display: inline-block; /* To align switches horizontally */ }  /* Style for the switch when it's in the 'on' state */ .ui-switch.ui-switch-checked {   background-color: #00FF00; /* Background color when the switch is on */ }  /* Style for the slider button inside the switch */ .ui-switch .slider {   width: 25px; /* Width of the sliding button */   height: 25px; /* Height of the sliding button */   background-color: #fff; /* Color of the sliding button */   border: 1px solid #999;   border-radius: 50%; /* To make it look like a circular button */   position: absolute;   top: 2px; /* Adjust the top position as needed */   transition: 0.4s; }",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "382b69f88801cce0"
            ]
        ]
    },
    {
        "id": "0ad96791724877dd",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "Home/Room1/Fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 810,
        "y": 160,
        "wires": []
    },
    {
        "id": "c4d1afa920cdd57a",
        "type": "mqtt out",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "Home/Room2/Fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d6670896eb4c043f",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "f4f4e8a30baafe40",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar lightStatusRoom1;\n\nif (command === \"turn on room one light\") {\n    lightStatusRoom1 = \"on\";\n\n} else if (command === \"turn off room one light\") {\n    lightStatusRoom1 = \"off\";\n\n} else if (command === \"turn on lights\") {\n    lightStatusRoom1 = \"on\";  \n\n} else if (command === \"turn off lights\") {\n    lightStatusRoom1 = \"off\";\n\n} else if (command === \"room one light 25%\") {\n    lightStatusRoom1 = \"twentyfive\";\n\n} else if (command === \"room one light 50%\") {\n    lightStatusRoom1 = \"fifty\";\n\n} else if (command === \"room one light 75%\") {\n    lightStatusRoom1 = \"seventyfive\";\n\n} else {\n    return null;\n}\n\nmsg.topic = \"Home/Room1/Light\";\nmsg.payload = lightStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 100,
        "wires": [
            [
                "1630cb1ef4140b87"
            ]
        ]
    },
    {
        "id": "8bcdcc8a724f198b",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar fanStatusRoom1;\n\nif (command === \"turn on room one fan\") {\n    fanStatusRoom1 = \"on\";\n\n} else if (command === \"turn off room one fan\") {\n    fanStatusRoom1 = \"off\";\n\n} else if (command === \"turn on fans\") {\n    fanStatusRoom1 = \"on\";  \n\n} else if (command === \"turn off fans\") {\n    fanStatusRoom1 = \"off\";\n\n} else if (command === \"room one fan 25%\") {\n    fanStatusRoom1 = \"twentyfive\";\n\n} else if (command === \"room one fan 50%\") {\n    fanStatusRoom1 = \"fifty\";\n\n} else if (command === \"room one fan 75%\") {\n    fanStatusRoom1 = \"seventyfive\";\n    \n} else {\n    return null;\n}\n\nmsg.topic = \"Home/Room1/Fan\";\nmsg.payload = fanStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 160,
        "wires": [
            [
                "0ad96791724877dd"
            ]
        ]
    },
    {
        "id": "52dc4b742b95a87c",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar lightStatusRoom2;\n\nif (command === \"turn on room two light\") {\n    lightStatusRoom2 = \"on\";\n\n} else if (command === \"turn off room two light\") {\n    lightStatusRoom2 = \"off\";\n\n} else if (command === \"turn on lights\") {\n    lightStatusRoom2 = \"on\";  \n\n} else if (command === \"turn off lights\") {\n    lightStatusRoom2 = \"off\";\n\n} else if (command === \"room two light 25%\") {\n    lightStatusRoom2 = \"twentyfive\";\n\n} else if (command === \"room two light 50%\") {\n    lightStatusRoom2 = \"fifty\";\n\n} else if (command === \"room two light 75%\") {\n    lightStatusRoom2 = \"seventyfive\";\n\n} else {\n    return null;\n}\n\nmsg.topic = \"Home/Room2/Light\";\nmsg.payload = lightStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 360,
        "wires": [
            [
                "e2e4b45e93addfe8"
            ]
        ]
    },
    {
        "id": "382b69f88801cce0",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Voice Command",
        "func": "var command = msg.payload;\nvar fanStatusRoom2;\n\nif (command === \"turn on room two fan\") {\n    fanStatusRoom2 = \"on\";\n\n} else if (command === \"turn off room two fan\") {\n    fanStatusRoom2 = \"off\";\n\n} else if (command === \"turn on fans\") {\n    fanStatusRoom2 = \"on\";  \n\n} else if (command === \"turn off fans\") {\n    fanStatusRoom2 = \"off\";\n\n} else if (command === \"room two fan 25%\") {\n    fanStatusRoom2 = \"twentyfive\";\n\n} else if (command === \"room two fan 50%\") {\n    fanStatusRoom2 = \"fifty\";\n\n} else if (command === \"room two fan 75%\") {\n    fanStatusRoom2 = \"seventyfive\";\n    \n} else {\n    return null;\n}\n\nmsg.topic = \"Home/Room2/Fan\";\nmsg.payload = fanStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 440,
        "wires": [
            [
                "c4d1afa920cdd57a"
            ]
        ]
    },
    {
        "id": "220c302781ae888b",
        "type": "mqtt in",
        "z": "2d794f9e07d29405",
        "name": "Input Voice",
        "topic": "input/voice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "d6670896eb4c043f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 260,
        "wires": [
            [
                "f4f4e8a30baafe40",
                "8bcdcc8a724f198b",
                "52dc4b742b95a87c",
                "382b69f88801cce0",
                "5f16860eb5eab57c"
            ]
        ]
    },
    {
        "id": "787477585adb4994",
        "type": "rpi-dht22",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "SENSOR DHT22",
        "dht": "22",
        "pintype": "0",
        "pin": "4",
        "x": 850,
        "y": 680,
        "wires": [
            [
                "f49286a030e5ad3e",
                "e0da55e8b18af0e8"
            ]
        ]
    },
    {
        "id": "8842ce3229da51e2",
        "type": "inject",
        "z": "2d794f9e07d29405",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 670,
        "y": 680,
        "wires": [
            [
                "787477585adb4994"
            ]
        ]
    },
    {
        "id": "67a62e763ac9ffab",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "name": "Temperature",
        "group": "54c167c87cc74e90",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 800,
        "wires": []
    },
    {
        "id": "e0da55e8b18af0e8",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Humidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 600,
        "wires": [
            [
                "8b68a82bd602230c",
                "5a5a69cbdd12b480",
                "0fdce4ebdb055333"
            ]
        ]
    },
    {
        "id": "f49286a030e5ad3e",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Temperature",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 780,
        "wires": [
            [
                "67a62e763ac9ffab",
                "302e5527d223b0a6",
                "cc6ea0dd28adb79d"
            ]
        ]
    },
    {
        "id": "8b68a82bd602230c",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "a0fc3a94.d321a8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "302e5527d223b0a6",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "54c167c87cc74e90",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5a5a69cbdd12b480",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "name": "Humidity",
        "group": "a0fc3a94.d321a8",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": "1",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 600,
        "wires": []
    },
    {
        "id": "b4b430bc608a6453",
        "type": "rpi-dht22",
        "z": "2d794f9e07d29405",
        "name": "",
        "topic": "SENSOR DHT22",
        "dht": "22",
        "pintype": "0",
        "pin": "4",
        "x": 370,
        "y": 680,
        "wires": [
            [
                "600d806816c00c20",
                "0b7905d9f40b8a0c"
            ]
        ]
    },
    {
        "id": "51fb8e14e611e588",
        "type": "inject",
        "z": "2d794f9e07d29405",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "b4b430bc608a6453"
            ]
        ]
    },
    {
        "id": "82599b533ca71c70",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "name": "Temperature",
        "group": "e6aaf7a018d5c965",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "0b7905d9f40b8a0c",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Humidity",
        "func": "msg.payload = msg.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 620,
        "wires": [
            [
                "27cf1ee5dcdbd843",
                "5382fea44834a995",
                "72672bbc73954589"
            ]
        ]
    },
    {
        "id": "600d806816c00c20",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Temperature",
        "func": "return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 780,
        "wires": [
            [
                "82599b533ca71c70",
                "a451c1f1d3d8cbc4",
                "f0335e77555f692a"
            ]
        ]
    },
    {
        "id": "27cf1ee5dcdbd843",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "0a557ede326d22a0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "a451c1f1d3d8cbc4",
        "type": "ui_chart",
        "z": "2d794f9e07d29405",
        "name": "",
        "group": "e6aaf7a018d5c965",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "5382fea44834a995",
        "type": "ui_gauge",
        "z": "2d794f9e07d29405",
        "name": "Humidity",
        "group": "0a557ede326d22a0",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 860,
        "y": 620,
        "wires": []
    },
    {
        "id": "78aa0dfc7ab29c79",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d16f07700327458d",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1010,
        "y": 100,
        "wires": [
            [
                "1749c5eaa96980d6",
                "f1327488981ea23a",
                "c02a1a944d7ee22a"
            ]
        ]
    },
    {
        "id": "1749c5eaa96980d6",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process brightnes slider",
        "func": "var brightnesslider = msg.payload;\nvar lightStatusRoom1;\n\nif (brightnesslider === 0) {\n    lightStatusRoom1 = \"off\";\n\n} else if (brightnesslider === 25) {\n    lightStatusRoom1 = \"twentyfive\";\n\n} else if (brightnesslider === 50) {\n    lightStatusRoom1 = \"fifty\";  \n\n} else if (brightnesslider === 75) {\n    lightStatusRoom1 = \"seventyfive\";\n\n} else if (brightnesslider === 100) {\n    lightStatusRoom1 = \"on\";\n}\n\nmsg.topic = \"Home/Room1/Light\";\nmsg.payload = lightStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 100,
        "wires": [
            [
                "1630cb1ef4140b87",
                "ed2e5c9c8f931496"
            ]
        ]
    },
    {
        "id": "ac57fb5b8c996862",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "9278453a351a90e2",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1010,
        "y": 160,
        "wires": [
            [
                "f878ede920d4bfa8",
                "4bb11729e67d2d85",
                "71fa0143447432c9"
            ]
        ]
    },
    {
        "id": "f878ede920d4bfa8",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Fan slider",
        "func": "var fanslider = msg.payload;\nvar fanStatusRoom1;\n\nif (fanslider === 0) {\n    fanStatusRoom1 = \"off\";\n\n} else if (fanslider === 25) {\n    fanStatusRoom1 = \"twentyfive\";\n\n} else if (fanslider === 50) {\n    fanStatusRoom1 = \"fifty\";  \n\n} else if (fanslider === 75) {\n    fanStatusRoom1 = \"seventyfive\";\n\n} else if (fanslider === 100) {\n    fanStatusRoom1 = \"on\";\n}\n\nmsg.topic = \"Home/Room1/Fan\";\nmsg.payload = fanStatusRoom1;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 160,
        "wires": [
            [
                "0ad96791724877dd",
                "9fe30b3990304ae3"
            ]
        ]
    },
    {
        "id": "49ef33ec169b9263",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "636577a91dc0d28e",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1010,
        "y": 360,
        "wires": [
            [
                "5179d438bc921761",
                "7dec5d15b667b816",
                "bd5d330af11fe9c1"
            ]
        ]
    },
    {
        "id": "5179d438bc921761",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process brightnes slider",
        "func": "var brightnesslider = msg.payload;\nvar lightStatusRoom2;\n\nif (brightnesslider === 0) {\n    lightStatusRoom2 = \"off\";\n\n} else if (brightnesslider === 25) {\n    lightStatusRoom2 = \"twentyfive\";\n\n} else if (brightnesslider === 50) {\n    lightStatusRoom2 = \"fifty\";  \n\n} else if (brightnesslider === 75) {\n    lightStatusRoom2 = \"seventyfive\";\n\n} else if (brightnesslider === 100) {\n    lightStatusRoom2 = \"on\";\n}\n\nmsg.topic = \"Home/Room2/Light\";\nmsg.payload = lightStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 360,
        "wires": [
            [
                "e2e4b45e93addfe8",
                "fcfdaa9c5f801488"
            ]
        ]
    },
    {
        "id": "f9e5dee88cdc9d0f",
        "type": "ui_slider",
        "z": "2d794f9e07d29405",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "20bd4304996f28c9",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "Home/Room1/Fan",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "25",
        "className": "",
        "x": 1010,
        "y": 440,
        "wires": [
            [
                "d30da50926e20c63",
                "eb48da40bceb7a08",
                "9668672555b3d967"
            ]
        ]
    },
    {
        "id": "d30da50926e20c63",
        "type": "function",
        "z": "2d794f9e07d29405",
        "name": "Process Fan slider",
        "func": "var fanslider = msg.payload;\nvar fanStatusRoom2;\n\nif (fanslider === 0) {\n    fanStatusRoom2 = \"off\";\n\n} else if (fanslider === 25) {\n    fanStatusRoom2 = \"twentyfive\";\n\n} else if (fanslider === 50) {\n    fanStatusRoom2 = \"fifty\";  \n\n} else if (fanslider === 75) {\n    fanStatusRoom2 = \"seventyfive\";\n\n} else if (fanslider === 100) {\n    fanStatusRoom2 = \"on\";\n}\n\nmsg.topic = \"Home/Room2/Fan\";\nmsg.payload = fanStatusRoom2;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "c4d1afa920cdd57a",
                "9e1acf4431c8db71"
            ]
        ]
    },
    {
        "id": "f1327488981ea23a",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 16",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 40,
        "wires": []
    },
    {
        "id": "ed2e5c9c8f931496",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 40,
        "wires": []
    },
    {
        "id": "9fe30b3990304ae3",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 220,
        "wires": []
    },
    {
        "id": "4bb11729e67d2d85",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 19",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "7dec5d15b667b816",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 300,
        "wires": []
    },
    {
        "id": "fcfdaa9c5f801488",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 21",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 300,
        "wires": []
    },
    {
        "id": "eb48da40bceb7a08",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 500,
        "wires": []
    },
    {
        "id": "9e1acf4431c8db71",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 500,
        "wires": []
    },
    {
        "id": "5f16860eb5eab57c",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 260,
        "wires": []
    },
    {
        "id": "72672bbc73954589",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "f0335e77555f692a",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 820,
        "wires": []
    },
    {
        "id": "cc6ea0dd28adb79d",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 820,
        "wires": []
    },
    {
        "id": "0fdce4ebdb055333",
        "type": "debug",
        "z": "2d794f9e07d29405",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 560,
        "wires": []
    },
    {
        "id": "c02a1a944d7ee22a",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "group": "d16f07700327458d",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Brightness Percentage",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1520,
        "y": 100,
        "wires": []
    },
    {
        "id": "71fa0143447432c9",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "group": "9278453a351a90e2",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed Percentage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 160,
        "wires": []
    },
    {
        "id": "bd5d330af11fe9c1",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "group": "636577a91dc0d28e",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Brightness Percentage",
        "format": "{{msg.payload}}%",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1540,
        "y": 360,
        "wires": []
    },
    {
        "id": "9668672555b3d967",
        "type": "ui_text",
        "z": "2d794f9e07d29405",
        "group": "20bd4304996f28c9",
        "order": 27,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Speed Percentage",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1510,
        "y": 440,
        "wires": []
    },
    {
        "id": "d6670896eb4c043f",
        "type": "mqtt-broker",
        "name": "broker.emqx.io",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "300",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b71a92b6420df409",
        "type": "ui_group",
        "name": "Light",
        "tab": "deec8db058b2a57b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a9f878f0b06b3f6",
        "type": "ui_group",
        "name": "Light",
        "tab": "37b5f90d.5e1ef2",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9853f7386e65dc3b",
        "type": "ui_group",
        "name": "Fan",
        "tab": "37b5f90d.5e1ef2",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "69d923bbeb4b9ab0",
        "type": "ui_group",
        "name": "Fan",
        "tab": "deec8db058b2a57b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "54c167c87cc74e90",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "37b5f90d.5e1ef2",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0fc3a94.d321a8",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "37b5f90d.5e1ef2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e6aaf7a018d5c965",
        "type": "ui_group",
        "name": "Temperture",
        "tab": "deec8db058b2a57b",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a557ede326d22a0",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "deec8db058b2a57b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d16f07700327458d",
        "type": "ui_group",
        "name": "Light Slider",
        "tab": "37b5f90d.5e1ef2",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9278453a351a90e2",
        "type": "ui_group",
        "name": "Fan Slider",
        "tab": "37b5f90d.5e1ef2",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "636577a91dc0d28e",
        "type": "ui_group",
        "name": "Light Slider",
        "tab": "deec8db058b2a57b",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "20bd4304996f28c9",
        "type": "ui_group",
        "name": "Fan Slider",
        "tab": "deec8db058b2a57b",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "deec8db058b2a57b",
        "type": "ui_tab",
        "name": "Room 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "37b5f90d.5e1ef2",
        "type": "ui_tab",
        "name": "Room 1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
